<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#29324f">
  {% seo %}
  {% assign social_image = page.social_image | default: "/assets/img/site/og.png" %}
  <meta property="og:image" content="{{ social_image | absolute_url }}">
  <meta name="twitter:card" content="summary_large_image">
  <link rel="icon" type="image/png" href="{{ "/assets/img/site/logo.png" | relative_url }}">
  <link rel="apple-touch-icon" href="{{ "/assets/img/site/logo.png" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}?v=20260729-2">
  <link rel="stylesheet" href="{{ "/assets/css/syntax.css" | relative_url }}">
  {% feed_meta %}
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Church",
      "name": "West Toronto Chinese Bible Church",
      "alternateName": "多伦多华夏圣经教会西堂",
      "url": "https://www.wtcbc.com",
      "image": "{{ "/assets/img/site/logo.png" | absolute_url }}",
      "email": "info@wtcbc.com",
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "1000 Petrolia Rd",
        "addressLocality": "North York",
        "addressRegion": "ON",
        "postalCode": "M3J 3L7",
        "addressCountry": "CA"
      },
      "sameAs": [
        "https://www.facebook.com/westcbc",
        "https://www.youtube.com/@wtcbc2009"
      ]
    }
  </script>
</head>
